.main-wrapper{
    display: flex;
}
.fixed-sidebar-wrapper{
    position: fixed;
    height: 100vh;
    width: 100px;
    background: #1b1e21;
    margin-left: auto;
}
.content-wrapper{
    min-height: 100vh;
    width: calc(100% - 100px);
    margin-left: auto;
}